.logo {
    width: 80px;
    float: left;
    margin: 5px 30px 0px 0px; 
}

.header {
    padding: 3px;
    background-color: ffffff;
}

.header a {
    color: black;
    text-decoration: none;
}

body {
    overflow: scroll;
    width: 100%;
    margin: 0 auto;
    background-color: f3f5f6;
}

.frame {
    width: 100%;
}

.topbar {
    width: 100%;
    background-color: lightblue;
    font-family: Dejavu sans;
    font-size: 15pt;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.topbar, .frame {
    width: 100%;
}

.topbar a {
    color: blue;
    padding-left: 10px;
    text-decoration: none;
}

.topbody {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    padding: 10px 0 0 10px;
    margin: 0 auto;
}

.topbody p {
    text-align: justify;
    width: 98%;
}

.chapter {
    padding-left: 25%;
	width: 75%;
}

.navfooter {	
	padding-left: 25%;
	width: 75%;
}

.content {
	position: absolute;
	height: 100%;
}

#cframe {
    width: 100%;
    height: 100vh;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("doc/style/OpenSans.woff") format("woff");
}
