.logo {
    width: 80px;
    float: left;
    margin: 5px 30px 0px 5px; 
}

.header {
    padding: 3px;
	height: 83px;
	width: 100%;
    background-color: #ffffff;
	position: fixed;
	z-index: 1;
}

.header a {
    color: black;
    text-decoration: none;
}

.header h1 {
    color: black;
    text-decoration: none;
	text-align: left;
	font-variant: normal;
}


.header h1:first-line {
	font-style: normal;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: #f3f5f6;
	font-family: 'Open Sans',sans-serif;
}

.homebar {
    background-color: #d0ecf6;
    font-family: Dejavu sans;
    font-size: 15pt;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    left: 0;
}

.homebar a {
    color: blue;
    padding-left: 10px;
    text-decoration: none;
}

.homebody {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    padding: 0 0 0 10px;
    margin: 0 auto;
    left: 0;
}

.homebody p {
    text-align: justify;
    width: 98%;
    margin-left: 0;
}

.homecontent {
    padding-left: 0%;    
    bottom: 3px;
    top: 86px;
    position: fixed;
}

.content {
    padding-left: 25.5%;
	width: 74.5%;    
    top: 90px;
    bottom: 3px;
    position: fixed;
    overflow-y: auto;
}

.content .navcol {
    position: absolute;
    left: 0%;
	width: 25%;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("doc/style/OpenSans.woff") format("woff");
}
