@import "kawa.css";

body { 
  position: relative;
  margin-right: 1em;
  padding-right: 0;
  border: 0;
}

div.navbar {
  background-color: d0ecf6;
  height: 100%;
  padding-top: 20px;
}

div.navcol { 
  width: 25%;
  float: left;
  height: 100%;
  top: 0em; right: 0em; bottom: 0em; left: 0em;
 }

/* The child selectors are a hack to hide these rules from WinIE6,
   which gets confused by 'fixed' */
body>div.navcol { 
  position: fixed ;
}
